@font-face { font-family: HelveticaNeue; src: url("./fonts/HelveticaNeue-Light.otf"); } 
@font-face { font-family: HelveticaNeueBold; font-weight: bold; src: url("./fonts/HelveticaNeue-Bold.otf");}

body {
	background-image: url("./images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: HelveticaNeue, sans-serif;
	color: #e8e8e8;
	font-size: 10pt;
}

#title {	
	font-family: "HelveticaNeueBold";
	font-size: 12pt;
}

#header {
	font-family: HelveticaNeueBold, sans-serif;
	font-size: 20pt;
}

.header p {
	margin-top: 20px;
	margin-left: 5px;
	line-height: 18px;
}

.header img {
	width: 75px;
	height: 59px; 
	background-color: "transparent";
	float: left;
	margin-right: 7px;
}

a, a:active, a:visited{
	text-decoration: none;
	color: #e8e8e8;
}

a:hover {
	color:#969696;
}

table {
	display: block;
	padding-top: 30px;
	margin-right: 15%;
	margin-left: 15%;
}

.cataloglist img {
	width: 144px;
	height: 200px;
	margin-top: 3px;
}

.cataloglist {
    text-align: center;
	border-spacing: 0 3px;
}

.cataloglist tr:nth-child(odd) {
 	background-color: rgba(96,96,96,0.6);
 	width: 100%;
}

.cataloglist tr:nth-child(even) {
 	background-color: rgba(69,69,69,0.6);
 }

.cataloglist p {
	line-height: auto;
	text-align: left;
}

.releasecover {
	width: 154px; 
	height: 209px;
}